SUPABASE_URL="https://tu-proyecto.supabase.co"
SUPABASE_KEY="tu-anon-key-o-service-role-key"

MONGODB_URI="mongodb+srv://usuario:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=TuApp"

B2_ENDPOINT_URL="https://s3.us-east-005.backblazeb2.com"
B2_KEY_ID="tu-key-id"
B2_APPLICATION_KEY="tu-application-key"
B2_BUCKET_NAME="tu-nombre-de-bucket"
